<div class="mb-3">
    <label class="form-label">{{ question.label }}</label>

    <div [ngSwitch]="question.type">
        <!-- Input box -->
        <input *ngSwitchCase="'text'" type="text" class="form-control" [(ngModel)]="answer" (ngModelChange)="answerChange.emit($event)" />

        <!-- Single choice -->
        <div *ngSwitchCase="'single-choice'">
            <div *ngFor="let option of question.options" class="form-check">
                <input
                        type="radio"
                        class="form-check-input"
                        name="answer-{{ question.id }}"
                        [(ngModel)]="answer"
                        [value]="option"
                        (ngModelChange)="answerChange.emit($event)"
                />
                <label class="form-check-label">{{ option }}</label>
            </div>
        </div>

        <!-- Multi choice -->
        <div *ngSwitchCase="'multi-choice'">
            <div *ngFor="let option of question.options" class="form-check">
                <input
                        type="checkbox"
                        class="form-check-input"
                        name="answer-{{ question.id }}-{{ option }}"
                        (change)="onMultiChoiceChange(option, $event)"
                />
                <label class="form-check-label">{{ option }}</label>
            </div>
        </div>

        <!-- Numeric input -->
        <input *ngSwitchCase="'number'" type="number" class="form-control" [(ngModel)]="answer" (ngModelChange)="answerChange.emit($event)" />
    </div>
</div>
